* {
  box-sizing: border-box;
  max-width: 700px;
}

p {
  font: 700px 2rem Archivo;
}

.identity p {
  max-width: 290px;
}

.professional p {
  max-width: 600px;
}

.history p {
  max-width: 700px;
}
